[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-phone-field = "*"
mysqlclient = "*"
djangorestframework = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = {extras = ["tool"], version = "*"}
google-api-python-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
