{% extends "layout.html" %}
{% block content %}
{% load static %}

<!-- About Section -->
<div class="w3-row w3-padding-64 fadeIn" id="about">
  <div class="w3-col m6 w3-padding-large">
    <img src="{% static 'images/location.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Class" width="600" height="750">
  </div>
  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center" id="section">Welcome to Enoch Recovery DDP Center</h1><br>
    <p class="w3-center">Our Impaired Driver Program (IDP), also known as the Drinking Driver Program (DDP), is dedicated to helping individuals on their journey to recovery from alcohol and drug-related issues. We provide comprehensive therapy and support to empower you to make positive changes and build a better future.</p>
    <p>In order to qualify for our IDP program, you'll need to follow these steps:</p>
    <ul>
      <li>You need a DWI conviction. After your conviction, you'll receive a letter from DMV indicating your eligibility for the program.</li>
      <li>Visit your local DMV office and pay a <strong>$75 enrollment fee</strong>. Be sure to inform them that you'll be attending <strong>Enoch Recovery DDP Center</strong>.</li>
      <li>DMV will provide you with an instruction sheet about our school and payment process, along with our schedule.</li>
      <li>The IDP program costs <strong>$233</strong> and consists of <strong>seven weekly sessions</strong> each lasting <strong>two hours</strong></li>
      <li>Register <a href="{% url 'orientation'%}">here</a> for a <strong>free orientation</strong></li>
    </ul>
  </div>

</div>
<hr>

<!-- Enoch Section -->
<div class="w3-row">
<div class="w3-col m6 w3-padding-large">
  <img src="{% static 'images/class.jpg' %}" class="w3-round w3-image w3-opacity-min w3-hide-small" alt="Class" width="600" height="750">
  <img id="img" src="{% static 'images/enoch_now.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="enoch_now" width="600" height="750" style="margin-top: 30px; display: none;">
</div>

<div class="w3-col m6 w3-padding-large">
<div id="section"><h1 class="w3-center" id="msg">Message From Our Director</h1><br></div>
<div class="w3-text-container">
  <div class="w3-text-content" id="short-text">
    <p>
      Hey there, I'm Enoch Torres, and I've been on a unique journey for over 30 years now. I've been helping folks who've hit a bump in the road due to DWI convictions, and it's been quite a ride. Enoch Recovery DDP Center is where it all happens, and we're more like a big support system for people who need a fresh start.
    </p>
  </div>
  <div class="w3-text-expander" id="full-text" style="display: none;">
    <p>
      Hey there, I'm Enoch Torres, and I've been on a unique journey for over 30 years now. I've been helping folks who've hit a bump in the road due to DWI convictions, and it's been quite a ride. Enoch Recovery DDP Center is where it all happens, and we're more like a big support system for people who need a fresh start.
      <br><br>
      I've seen so many people transform their lives with our Impaired Driver Program (IDP), which is also known as the Drinking Driver Program (DDP). The name might be new, but the aim remains the same. It's inspiring to see lives take a turn for the better.
      <br><br>
      Our place is all about hope, understanding, and second chances. We know life can throw you a curveball, and that's where we step in.
      <br><br>
      So, if you've got a DWI conviction in your rearview mirror, don't let it steer your life. Hop on the path to recovery and take control. Just scroll down to the bottom of this page, fill out the form below to reserve your spot for your free orientation. This is where we will teach you about our Impaired Driver Program (or Drinking Driver Program, whichever you prefer). You've got the power to get back on track and drive toward a brighter future.
      <br><br>
      Enoch Recovery DDP Center is here to guide you, educate you, and hand you the keys to your future. Don't wait; start your journey to a better tomorrow today.
      <br><br>
      Catch you on the flip side,
      <br>
      Enoch Torres<br>
      Founder and Owner, Enoch Recovery DDP Center
    </p>
  </div>
  <a href="javascript:void(0);" id="read-more-link" onclick="toggleText()">Read More</a>
</div>
</div>
</div>

<!-- Location Section -->
<div class="w3-row w3-padding-64 fadeIn" id="location">
  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center" id="section">Locations</h1>
    <div id="info">

    <!--Location 1-->
    <div>
      <h3><u>Yonkers, NY</u></h3>
      <h5>957 McLean Ave, Yonkers, NY 10704 Suite 102</h5>
      <iframe class="w3-round w3-image w3-opacity-min w3-hide-small" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.5782701820253!2d-73.86897192331467!3d40.90306502589565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f2e7706c9473%3A0x46c5e01bebded1ad!2sEnoch%20Recovery%20DDP%20Center!5e0!3m2!1sen!2sus!4v1698948003324!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--Location 2-->
    <div>
      <h3><u>New York, NY</u></h3>
      <h5>55 E 115th St, New York, NY 10029 Level-C</h5>
      <iframe class="w3-round w3-image w3-opacity-min w3-hide-small" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.1544692547584!2d-73.94598731883863!3d40.79920447562772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f60f81cf0aef%3A0xf6cf32c7969f7ffc!2s55%20E%20115th%20St%2C%20New%20York%2C%20NY%2010029!5e0!3m2!1sen!2sus!4v1699402292083!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  </div>
  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center" id="section">Contact Us</h1><br>
    <h4>Email: <a href="mailto:justint140@hotmail.com"><b>justint140@hotmail.com</a></b> <br>Cell: <b><a href="tel:9176352875">(917) 635-2875</a></h4>
    <br>
    <br>
      <h1 class="w3-center" id="section">Hours of Operation</h1>
      <h4>Monday:     9AM - 5PM</h4>
      <h4>Tuesday:    9AM - 5PM</h4>
      <h4>Wednesday:  9AM - 5PM</h4>
      <h4>Thursday:   9AM - 5PM</h4>
      <h4>Friday:     9AM - 5PM</h4>
      <h4>Saturday:   Closed</h4>
      <h4>Sunday:     Closed</h4>
    </div>
</div>


<div class="w3-center w3-row">
  <a href={% url 'orientation'%} class="w3-btn w3-green" id="contact-btn">Free Orientation</a>
</div>

<!-- Javascript -->
<script src="{% static "js/readmore.js" %}"></script>

<!-- End page content -->
{% endblock %}