
{% extends "layout.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="{% static "css/index.css" %}" rel="stylesheet">

</head>
<body>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
  <div class="video-container">
    <iframe id="video" src="https://drive.google.com/file/d/16h9mHOCBZ5yRbLEJLu0-mJ30w0WFKVUj/preview" frameborder="0" allow="autoplay" allowfullscreen controls autoplay></iframe>
  </div>
  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="{% static 'images/group.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Class" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About our program</h1><br>
      <h5 class="w3-center">Tradition since 1993</h5>
      <p class="w3-center">Enoch Recovery DDP Center is dedicated to providing comprehensive therapy to individuals facing alcohol and drug addictions. We focus on instilling a positive belief system that incorporates morals, values, and principles, aiming to develop men and women of integrity. The facilities at Enoch Recovery DDP Center are safe, comfortable, and have a beautiful ambiance. Moreover, Enoch Recovery DDP Center emphasizes education rather than punishment for those who choose to drink and drive. You can trust that you will be treated with the utmost kindness, courtesy, and respect during your time at the center. We believe in the potential for growth and second chances in life, understanding that people can make mistakes and deserve respect and support on their journey towards <span class="w3-tag w3-light-grey">recovery</span></p>
    </div>
  </div>
  
  <hr>
  
<!-- Testimonials Section -->
<div class="w3-row w3-padding-64" id="testimonials">
  <div class="w3-col l6 w3-padding-large">
    <h1 class="w3-center">Testimonials</h1><br>
    <h4>John Smith</h4>
    <p class="w3-text-grey">The DDP was a life-changing experience. It helped me get back on track and make better choices. Highly recommended!</p><br>

    <h4>Alice Johnson</h4>
    <p class="w3-text-grey">I am so grateful for the DDP. It provided the support and resources I needed to turn my life around after a difficult period. Thank you!</p><br>

    <h4>Michael Brown</h4>
    <p class="w3-text-grey">The DDP team was incredibly supportive throughout the program. I learned valuable lessons and gained a fresh perspective on life.</p><br>

    <h4>Susan Davis</h4>
    <p class="w3-text-grey">I can't thank the DDP enough for helping me make positive changes. It's a great program for those seeking a second chance.</p><br>

    <h4>Robert Clark</h4>
    <p class="w3-text-grey">The DDP is a beacon of hope for anyone looking to move past their mistakes and build a better future. I'm proof that it works!</p>
  </div>
</div>

    
<div class="w3-col l6 w3-padding-large">
    <img src="{% static 'images/class.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Class" width="600" height="750">
</div>

<!-- Contact Section -->
<div class="w3-row w3-padding-64" id="contact">
<h1>Contact Us</h1>
  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <iframe class="w3-round w3-image w3-opacity-min" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.5782701820253!2d-73.86897192331467!3d40.90306502589565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f2e7706c9473%3A0x46c5e01bebded1ad!2sEnoch%20Recovery%20DDP%20Center!5e0!3m2!1sen!2sus!4v1698948003324!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <div id="info">
      <p>Contact us: <b>(917) 635-2875</b></p>
      <p>Hours: <b>Mon & Wed: 5:30am - 8pm, Sat: 9:30am - 11am</b></p>
      <p>Closed on <b>Tue, Thu, Fri & Sun</b></p>
    </div>
  </div>
</div>



<br>

<!-- Multistep Contact Form -->
<form class="w3-input w3-padding-16" id="regForm" action="/submitted/" method='POST'>
{% csrf_token %} <!-- Include the CSRF token for security -->
  <h1>Schedule a meeting:</h1>
  <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <input class="w3-input w3-padding-16" type="date" id="date" name="date">
    <select class="w3-input w3-padding-16" id="time" name="time" required>
        <option value="09:00">09:00 AM</option>
        <option value="10:00">10:00 AM</option>
        <option value="11:00">11:00 AM</option>
        <option value="12:00">12:00 PM</option>
        <option value="13:00">01:00 PM</option>
        <option value="14:00">02:00 PM</option>
        <option value="15:00">03:00 PM</option>
        <option value="16:00">04:00 PM</option>
        <option value="17:00">05:00 PM</option>
    </select>
    </p>
  </div>

  <div class="tab">
    <p><input placeholder="First name..." oninput="this.className = ''" name="fname"></p>
    <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"></p>
  </div>
  
  <div class="tab">
    <p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
    <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>
  </div>

  <div class="tab">
    <p>
    <h5><label for="reason" class="w3-input w3-padding-16">Please choose which of these best relate to your inquiry</label></h5>
    <select class="w3-select w3-padding-16" id="choice" name="choice" required>
        <option value="1">Alcohol/ Drug Addictions</option>
        <option value="2">Dwi Convictions</option>
        <option value="3">DWI/DWAI</option>
    </select>
    </p>
  </div>

  <div style="text-align:center;margin-top:40px;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>

  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

<script src="{% static "js/index.js" %}"></script>

</body>
</html>

<!-- End page content -->

{% endblock %}