{% extends "layout.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="{% static "css/index.css" %}" rel="stylesheet">
</head>
<body>
<!-- Page content -->
<div class="w3-content fadeIn" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64 fadeIn" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
      <img src="{% static 'images/group.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Class" width="600" height="750">
    </div>
    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Welcome to Enoch Recovery DDP Center</h1><br>
      <p class="w3-center">Our Impaired Driver Program (IDP), also known as the Drinking Driver Program (DDP), is dedicated to helping individuals on their journey to recovery from alcohol and drug-related issues. We provide comprehensive therapy and support to empower you to make positive changes and build a better future.</p>
      <p>To participate in our IDP program, you'll need to follow these steps:</p>
      <ul>
        <li>In order to qualify for the IDP, also known as the Drinking Driver Program (DDP), you need a DUI conviction. After your conviction, you'll receive a letter from DMV indicating your eligibility for the program.</li>
        <li>Visit your local DMV office and pay a <strong>$75 enrollment fee</strong>. Be sure to inform them that you'll be attending Enoch Recovery DDP Center.</li>
        <li>DMV will provide you with an instruction sheet about our school and payment process, along with our schedule.</li>
        <li>The IDP program consists of <strong>seven weekly sessions</strong> each lasting <strong>two hours</strong> and requiring a <strong>$233 program fee</strong>.</li>
      </ul>
    </div>

  </div>
  <hr>



<!-- Enoch Section -->
<div class="w3-col m6 w3-padding-large">
  <img src="{% static 'images/class.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Class" width="600" height="750">
</div>

<div class="w3-col m6 w3-padding-large">
  <h1 class="w3-center" id="msg">Message From Our Director</h1><br>
  <div class="w3-text-container">
    <div class="w3-text-content" id="short-text">
      <p>
        Hey there, I'm Enoch Torres, and I've been on a unique journey for over 30 years now. I've been helping folks who've hit a bump in the road due to DUI convictions, and it's been quite a ride. Enoch Recovery DDP Center is where it all happens, and we're more like a big support system for people who need a fresh start.
      </p>
    </div>
    <div class="w3-text-expander" id="full-text" style="display: none;">
      <p>
        Hey there, I'm Enoch Torres, and I've been on a unique journey for over 30 years now. I've been helping folks who've hit a bump in the road due to DUI convictions, and it's been quite a ride. Enoch Recovery DDP Center is where it all happens, and we're more like a big support system for people who need a fresh start.
        <br><br>
        I've seen so many people transform their lives with our Impaired Driver Program (IDP), which is also known as the Drinking Driver Program (DDP). The name might be new, but the aim remains the same. It's inspiring to see lives take a turn for the better.
        <br><br>
        Our place is all about hope, understanding, and second chances. We know life can throw you a curveball, and that's where we step in.
        <br><br>
        So, if you've got a DUI conviction in your rearview mirror, don't let it steer your life. Hop on the path to recovery and take control. Just scroll down to the bottom of this page, fill out the form below to reserve your spot for your free orientaion. This is where we will teach you about our Impaired Driver Program (or Drinking Driver Program, whichever you prefer). You've got the power to get back on track and drive toward a brighter future.
        <br><br>
        Enoch Recovery DDP Center is here to guide you, educate you, and hand you the keys to your future. Don't wait; start your journey to a better tomorrow today.
        <br><br>
        Catch you on the flip side,
        <br>
        Enoch Torres<br>
        Founder and Owner, Enoch Recovery DDP Center
      </p>
    </div>
    <a href="javascript:void(0);" id="read-more-link" onclick="toggleText()">Read More</a>
  </div>
</div>

<br>

<!-- Testimonials Section -->
<div class="w3-row w3-padding-64 fadeIn" id="testimonials">
  <h1 class="w3-center">Success Stories</h1>

  <div class="w3-content w3-display-container">
    <!-- Testimonial 1 -->
    <div class="mySlides">
      <img src="{% static 'images/t1.jpg' %}" alt="Testimonial 1" style="width:100%">
      <div class="w3-center w3-padding-16">
        <h4>Chino</h4>
        <p class="w3-text-grey">The DDP was a life-changing experience. It helped me get back on track and make better choices. Highly recommended!</p>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="mySlides">
      <img src="{% static 'images/t2.jpg' %}" alt="Testimonial 2" style="width:100%">
      <div class="w3-center w3-padding-16">
        <h4>Daisy</h4>
        <p class="w3-text-grey">I am so grateful for the DDP. It provided the support and resources I needed to turn my life around after a difficult period. Thank you!</p>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <div class="mySlides">
      <img src="{% static 'images/t3.jpg' %}" alt="Testimonial 3" style="width:100%">
      <div class="w3-center w3-padding-16">
        <h4>Chris</h4>
        <p class="w3-text-grey">Enrolling in the DDP program at Enoch Recovery was a turning point in my life. The program's supportive environment and dedicated staff helped me make positive changes and build a brighter future.</p>
      </div>
    </div>

  <div class="video-container">
  <!-- Place your video iframe here -->
  <iframe src="https://drive.google.com/file/d/1A-pwWvWQlDmdfSzftqMuhB8KWUnu_rgk/preview" frameborder="0" allow="autoplay" allowfullscreen></iframe>
</div>
</div>

<!-- Contact Section -->
<div class="w3-row fadeIn"  id="contact">
<h1>Contact Us</h1>
<h4>Please fill out the form below or call us directly to schedule a <strong>free</strong> orientation</h4>



</div>
<div class="w3-row w3-padding-16 fadeIn">
  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <iframe class="w3-round w3-image w3-opacity-min" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.5782701820253!2d-73.86897192331467!3d40.90306502589565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f2e7706c9473%3A0x46c5e01bebded1ad!2sEnoch%20Recovery%20DDP%20Center!5e0!3m2!1sen!2sus!4v1698948003324!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div id="info">
      <h3><u>Yonkers, NY</u></h3>
      <p>957 McLean Ave, Yonkers, NY 10704 Suite 102</p>
    </div>
  </div>

  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <iframe class="w3-round w3-image w3-opacity-min" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.1544692547584!2d-73.94598731883863!3d40.79920447562772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f60f81cf0aef%3A0xf6cf32c7969f7ffc!2s55%20E%20115th%20St%2C%20New%20York%2C%20NY%2010029!5e0!3m2!1sen!2sus!4v1699402292083!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div id="info">
      <h3><u>New York, NY</u></h3>
      <p>55 E 115th St, New York, NY 10029 Level-C</p>
    </div>
  </div>
</div>

<!-- Multistep Contact Form -->
<div class="w3-row w3-padding fadeIn">
  <form class="w3-col m6 w3-padding-large w3-hide-small" id="regForm" action="/submitted/" method='POST'>
  {% csrf_token %} <!-- Include the CSRF token for security -->
  <div class="tab">
    <h5 class="w3-left">When can you meet us for your <b>free</b> orientation?</h5>
    <input class="w3-input w3-padding-16" type="date" id="date" name="date">
    <select class="w3-input w3-padding-16" id="time" name="time" required>
      <!-- Time options will be dynamically populated based on the selected date -->
    </select>
  </div>

  <div class="tab">
    <h5 class="w3-left">Which location is best for you?</h5>
    <select class="w3-input w3-padding-16" id="location" name="location">
        <option value="957 McLean Ave, Yonkers, NY 10704 Suite 102">957 McLean Ave, Yonkers, NY 10704 Suite 102</option>
        <option value="55 E 115th St, New York, NY 10029 Level-C">55 E 115th St, New York, NY 10029 Level-C</option>
    </select>
  </div>

    <!-- One "tab" for each step in the form: -->
  <div class="tab">
    <p><input placeholder="First name..." oninput="this.className = ''" name="fname" type="text" required></p>
    <p><input placeholder="Last name..." oninput="this.className = ''" name="lname"type="text" required></p>
    <p><input placeholder="E-mail..." oninput="this.className = ''" name="email" type="email" required></p>
    <p><input placeholder="Phone..." oninput="this.className = ''" name="phone" type="tel" required></p>
      <p class="w3-left">
      By submitting this form, you agree that Enoch Recovery DDP Center may contact you via your provided phone number (call/text) or email to provide information related to the IDP/DDP program and other relevant services.
      </p>
  </div>
  <div style="text-align:center;margin-top:40px;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>

  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <h5>Orientation Hours: </h5><p><b>Mon, Tues, Wed: 5:30pm - 6:30pm <br>Sat: 10:00am - 12:00pm <br>Sun: 2:30pm - 3:30pm</b></p>
    <br>
    <h5>Email: <a href="mailto:justint140@hotmail.com"><b>justint140@hotmail.com</a></b></h5>
    <h5>Cell: <b><a href="tel:9176352875">(917) 635-2875</b></a></h5>
  </div>
</div>

<script src="{% static "js/index.js" %}"></script>

</body>
</html>

<!-- End page content -->

{% endblock %}