{% extends "layout.html" %}
{% block content %}
{% load static %}

<!-- Location Section -->
<div class="w3-row w3-padding-64 fadeIn" id="location">
  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center" id="section">Locations</h1>
    <div id="info">

    <!--Location 1-->
    <div>
      <h3><u>Yonkers, NY</u></h3>
      <h5>957 McLean Ave, Yonkers, NY 10704 Suite 102</h5>
      <iframe class="w3-round w3-image w3-opacity-min w3-hide-small" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3015.5782701820253!2d-73.86897192331467!3d40.90306502589565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f2e7706c9473%3A0x46c5e01bebded1ad!2sEnoch%20Recovery%20DDP%20Center!5e0!3m2!1sen!2sus!4v1698948003324!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--Location 2-->
    <div>
      <h3><u>New York, NY</u></h3>
      <h5>55 E 115th St, New York, NY 10029 Level-C</h5>
      <iframe class="w3-round w3-image w3-opacity-min w3-hide-small" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.1544692547584!2d-73.94598731883863!3d40.79920447562772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f60f81cf0aef%3A0xf6cf32c7969f7ffc!2s55%20E%20115th%20St%2C%20New%20York%2C%20NY%2010029!5e0!3m2!1sen!2sus!4v1699402292083!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  </div>
  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center" id="section">Contact Us</h1><br>
    <h4><a href="mailto:enochrecoveryddp@gmail.com"><b>enochrecoveryddp@gmail.com</a></b></h4>
    <h4><b><a href="tel:9176352875">(917) 635-2875</a></h4>
    <br>
    <h1 class="w3-center" id="section">Hours of Operation</h1>
    <h4>Monday:     12PM - 6PM</h4>
    <h4>Tuesday:    12PM - 6PM</h4>
    <h4>Wednesday:  12PM - 6PM</h4>
    <h4>Thursday:   Closed</h4>
    <h4>Friday:     Closed</h4>
    <h4>Saturday:   Closed</h4>
    <h4>Sunday:     Closed</h4>
    </div>
</div>

<div class="w3-center w3-row">
  <a href={% url 'orientation'%} class="w3-btn w3-green" id="contact-btn">Free Orientation</a>
</div>

<!-- End page content -->
{% endblock %}