{% extends "layout.html" %}
{% block content %}
{% load static %}
<div class="w3-row w3-padding-64 fadeIn" >
    <h1 class="w3-row w3-padding-64 w3-center" id="section">Privacy Policy for Enoch Recovery DDP Center</h1>
<div style="margin-left:50px; margin-right-50px;">
    <h2>Personal Information We Collect</h2>
    <p>When you fill out our form, we collect the following information:
    <ul>
        <li>Your name</li>
        <li>Your phone number</li>
        <li>Your email address</li>
    </ul>
    This information is used solely for the purpose of providing you with information related to the IDP/DDP program and other relevant services.</p>

    <h2>How We Use Your Personal Information</h2>
    <p>By submitting the form, you agree that Enoch Recovery DDP Center may contact you via your provided phone number (call/text) or email to provide information related to the IDP/DDP program and other relevant services.</p>

    <h2>How We Store Your Personal Information</h2>
    <p>We do not store your personal information in a database. Instead, your information is used to create two emails:
    <ol>
        <li>An email sent to Enoch Recovery DDP Center's business email address, which includes the information you submitted through the form.</li>
        <li>A confirmation email sent to you.</li>
    </ol></p>

    <h2>Changes to This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at <a href="mailto:enochrecoveryddp@gmail.com"><b>enochrecoveryddp@gmail.com</a></p>

    <h2>Limitation of Liability</h2>
    <p>Enoch Recovery DDP Center is not responsible for any personal injury, or any direct, indirect, incidental, consequential, or any other damages arising out of or in connection with the use of this website or in reliance on the information available on the site. This includes any personal injury, business interruption, loss of use, lost data, lost profits, or any other pecuniary loss, whether in an action of contract, negligence, or other tortious action, even if we have been informed of the possibility.</p>

    <p>This policy is effective as of 12/1/2023.</p>
</div>
</div>
{% endblock %}