{% extends "layout.html" %}
{% block content %}

<div class="submitted-content" style="margin-left:30px; ">
<div class="w3-row w3-padding-32">
    <h1>Thank You {{ form.first_name.value }}, </h1>
    <h4 style="letter-spacing:1px;">We look foward to meeting you on <b>{{ form.date.value }}</b> at <b>{{ form.time.value }}</b> at <b>{{form.location.value}}</b></h4>
    <h4>Please be sure to bring your arrest packet and $233 to register for the program.</h4>
</div>

<!-- Google Calendar Link -->
<div class="w3-row">
    <a class="w3-padding-large w3-center" id="section" href={{calendar_inv}} target="_blank" rel="noopener noreferrer">
    Add to Google Calendar
    </a>
</div>

<div class="w3-row w3-padding-32">
    <h5>If you would like to reschedule your orientation please contact us below:</h5>
    <h5>Email: <a href="mailto:enochrecoveryddp@gmail.com"><b>enochrecoveryddp@gmail.com</a></b></h5>
    <h5>Cell: <b><a href="tel:9176352875">(917) 635-2875</b></a></h5>
</div>
</div>
{% endblock %}
