{% extends "layout.html" %}
{% block content %}
{% load static %}
<head>
  <link href="{% static "css/testimonials.css" %}" rel="stylesheet">
</head>
<body>
<!-- Testimonials Section -->
<div class="w3-row w3-center w3-padding-large">
  <h1 style="margin-top:100px; margin-left:auto; margin-right:auto; width:50%;" id="section">Success Stories</h1>
</div>

<div class="w3-row w3-center" id="testimonials">
  <div class="w3-center video-container">
    <iframe src="https://www.youtube.com/embed/Mqkhc_r5vIg?autoplay=1&mute=1&modestbranding=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

  <div class="w3-center w3-col">
    <!-- Testimonial 1 -->
    <div class="mySlides">
      <img class="w3-hide-small" src="{% static 'images/t1.jpg' %}" alt="Testimonial 1">
      <div class="w3-left w3-padding-16">
        <p class="w3-text-grey">"The DDP was a life-changing experience. It helped me get back on track and make better choices. Highly recommended!"<br>-Chino</p>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="mySlides">
      <img class="w3-hide-small" src="{% static 'images/t2.jpg' %}" alt="Testimonial 2">
      <div class="w3-left w3-padding-16">
        <p class="w3-text-grey">"I am so grateful for the DDP. It provided the support and resources I needed to turn my life around after a difficult period. Thank you!"<br>-Daisy</p>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <div class="mySlides">
      <img class="w3-hide-small" src="{% static 'images/t3.jpg' %}" alt="Testimonial 3">
      <div class="w3-left w3-padding-16">
        <p class="w3-text-grey">"Enrolling in the DDP program at Enoch Recovery was a turning point in my life. The program's supportive environment helped me make positive changes and build a brighter future." <br>-Chris</p>
      </div>
    </div>
</div>
</div>

<div class="w3-center w3-row">
  <a href={% url 'orientation'%} class="w3-btn w3-green" id="contact-btn">Free Orientation</a>
</div>

<!-- Javascript -->
<script src="{% static "js/imgslides.js" %}"></script>

<!-- End page content -->

{% endblock %}