{% extends "layout.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="{% static "css/testimonials.css" %}" rel="stylesheet">
</head>
<body>
<!-- Testimonials Section -->
<div class="w3-row w3-padding-64 fadeIn" id="testimonials">
  <h1 class="w3-center">Success Stories</h1>
  <div class="video-container">
  <!-- Place your video iframe here -->
  <iframe src="https://drive.google.com/file/d/1A-pwWvWQlDmdfSzftqMuhB8KWUnu_rgk/preview" frameborder="0" allow="autoplay" allowfullscreen></iframe>
</div>

  <div class="w3-center w3-content w3-display-container">
    <!-- Testimonial 1 -->
    <div class="mySlides">
      <img class="w3-hide-small" src="{% static 'images/t1.jpg' %}" alt="Testimonial 1">
      <div class="w3-center w3-padding-16">
        <h4>Chino</h4>
        <p class="w3-text-grey">"The DDP was a life-changing experience. It helped me get back on track and make better choices. Highly recommended!"</p>
      </div>
    </div>

    <!-- Testimonial 2 -->
    <div class="mySlides">
      <img class="w3-hide-small" src="{% static 'images/t2.jpg' %}" alt="Testimonial 2">
      <div class="w3-center w3-padding-16">
        <h4>Daisy</h4>
        <p class="w3-text-grey">"I am so grateful for the DDP. It provided the support and resources I needed to turn my life around after a difficult period. Thank you!"</p>
      </div>
    </div>

    <!-- Testimonial 3 -->
    <div class="mySlides">
      <img class="w3-hide-small" src="{% static 'images/t3.jpg' %}" alt="Testimonial 3">
      <div class="w3-center w3-padding-16">
        <h4>Chris</h4>
        <p class="w3-text-grey">"Enrolling in the DDP program at Enoch Recovery was a turning point in my life. The program's supportive environment and dedicated staff helped me make positive changes and build a brighter future."</p>
      </div>
    </div>
</div>
<!-- Javascript -->
<script src="{% static "js/imgslides.js" %}"></script>
<script src="{% static "js/readmore.js" %}"></script>
<script src="{% static "js/form.js" %}"></script>
<script src="{% static "js/datetime.js" %}"></script>

</body>
</html>

<!-- End page content -->

{% endblock %}