
{% extends "layout.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Enoch Recovery DDP</title>
</head>
<body>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="{% static 'images/group.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Class" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About our program</h1><br>
      <h5 class="w3-center">Tradition since 1993</h5>
      <p class="w3-large">Enoch Recovery DDP Center is dedicated to providing comprehensive therapy to individuals facing alcohol and drug addictions. We focus on instilling a positive belief system that incorporates morals, values, and principles, aiming to develop men and women of integrity. The facilities at Enoch Recovery DDP Center are safe, comfortable, and have a beautiful ambiance. Moreover, Enoch Recovery DDP Center emphasizes education rather than punishment for those who choose to drink and drive. You can trust that you will be treated with the utmost kindness, courtesy, and respect during your time at the center. We believe in the potential for growth and second chances in life, understanding that people can make mistakes and deserve respect and support on their journey towards <span class="w3-tag w3-light-grey">recovery</span></p>
    </div>
  </div>
  
  <hr>
  
<!-- Testimonials Section -->
<div class="w3-row w3-padding-64" id="testimonials">
  <div class="w3-col l6 w3-padding-large">
    <h1 class="w3-center">Testimonials</h1><br>
    <h4>John Smith</h4>
    <p class="w3-text-grey">The DDP was a life-changing experience. It helped me get back on track and make better choices. Highly recommended!</p><br>

    <h4>Alice Johnson</h4>
    <p class="w3-text-grey">I am so grateful for the DDP. It provided the support and resources I needed to turn my life around after a difficult period. Thank you!</p><br>

    <h4>Michael Brown</h4>
    <p class="w3-text-grey">The DDP team was incredibly supportive throughout the program. I learned valuable lessons and gained a fresh perspective on life.</p><br>

    <h4>Susan Davis</h4>
    <p class="w3-text-grey">I can't thank the DDP enough for helping me make positive changes. It's a great program for those seeking a second chance.</p><br>

    <h4>Robert Clark</h4>
    <p class="w3-text-grey">The DDP is a beacon of hope for anyone looking to move past their mistakes and build a better future. I'm proof that it works!</p>
  </div>
</div>

    
    <div class="w3-col l6 w3-padding-large">
        <img src="{% static 'images/class.jpg' %}" class="w3-round w3-image w3-opacity-min" alt="Class" width="600" height="750">
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact Us</h1>
    <p> We offer a variety of services. We understand your needs and we will strive to satisfy them all. <br>Please fill the form below to meet with us at:</p>
    <div class="geodir-category-location">
    <a href="https://maps.google.com/?saddr=Current+Location&amp;daddr=957+McLean+Avenue,+Suite+103,+Yonkers,+NY+10704&amp;hl=en&amp;iwloc=A" title="Directions to Enoch Recovery DDP Center" class="get-direction" target="_blank">
    <i class="fas fa-directions"></i>
    <b>957 McLean Avenue, Suite 103, Yonkers, NY 10704</b>
</a>
</div>
    <p>Contact us: <b>(917) 635-2875</b></p>
    <p>Hours: <b>Mon & Wed: 5:30am - 8pm, Sat: 9:30am - 11am</b></p>
    <p>Closed on <b>Tue, Thu, Fri & Sun</b></p>

    <br>
    <br>
    <h3>Schedule a meeting</h3>
    <form action="/submitted/" method='POST'>
    {% csrf_token %} <!-- Include the CSRF token for security -->
      <p><input class="w3-input w3-padding-16" type="text" placeholder="First_Name" required name="first_name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Last_Name" required name="last_name"></p>
      <p><input class="w3-input w3-padding-16" type="email" placeholder="Email" required name="email"></p>
      <p><input class="w3-input w3-padding-16" type="tel" placeholder="Cellphone" required name="cell"></p>
      <br>
      
    <h5><label for="date" class="w3-input w3-padding-16">When can you meet with us?</label></h5>
    <p>
    <input class="w3-input w3-padding-16" type="date" id="date" name="date">
    <select class="w3-select w3-padding-16" id="appt" name="appt" required>
        <option value="09:00">09:00 AM</option>
        <option value="10:00">10:00 AM</option>
        <option value="11:00">11:00 AM</option>
        <option value="12:00">12:00 PM</option>
        <option value="13:00">01:00 PM</option>
        <option value="14:00">02:00 PM</option>
        <option value="15:00">03:00 PM</option>
        <option value="16:00">04:00 PM</option>
        <option value="17:00">05:00 PM</option>
    </select>
    </p>

      <h5><label for="reason" class="w3-input w3-padding-16">Please choose which of these best relate to your inquiry</label></h5>
      <p><input class="w3-input w3-padding-16" type="radio" required name="choice">Alcohol/ Drug Addictions</p>
      <p><input class="w3-input w3-padding-16" type="radio" required name="choice">Dwi Convictions</p>
      <p><input class="w3-input w3-padding-16" type="radio" required name="choice">Relapse prevention</p>
      <p><input class="w3-input w3-padding-16" type="radio" required name="choice">DWI/DWAI</p>
      <p><input class="w3-input w3-padding-16" type="radio" required name="choice">Anger Management Issues</p>
      <p><input class="w3-input w3-padding-16" type="radio" required name="choice">Individual Counseling</p>
      <p><input class="w3-input w3-padding-16" type="radio" required name="choice">Family & Employment</p>

      <p><button class="w3-button w3-light-grey w3-section" type="submit">SUBMIT</button></p>
    </form>
  </div>
  
<!-- End page content -->
</div>

<script>
  // This function will set the default date to today and the default time to the next hour
  function setDefaultDateTime() {
    var today = new Date();
    var dateInput = document.getElementById("date");
    var timeSelect = document.getElementById("appt");

    // Set the date input value to today's date
    dateInput.value = today.toISOString().slice(0, 10);

    // Calculate the next hour
    var nextHour = today.getHours() + 1;
    if (nextHour > 17) { // Check if it's past 5 PM, then set to 9 AM next day
      nextHour = 9;
      dateInput.value = new Date(today.getTime() + 24 * 60 * 60 * 1000).toISOString().slice(0, 10); // Increment the date by one day
    }

    // Set the selected option in the time select element
    var nextHourOption = timeSelect.querySelector('option[value="' + ('0' + nextHour).slice(-2) + ':00' + '"]');
    nextHourOption.selected = true;
  }

  // Call the function to set the default values
  setDefaultDateTime();
</script>

{% endblock %}